<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>今天吃啥-历史记录</title>
		<script src="{{ url_for('static', filename='js/mui.min.js') }}"></script>
		<link href="{{ url_for('static', filename='css/mui.min.css') }}" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iconfont.css') }}" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav bgcolor">
			<a href="{{ url_for('history_upload') }}" class=" mui-icon mui-icon-plus mui-pull-right" id="span"></a>
		    <h1 class="mui-title">历史记录</h1>
		</header>
		<div class="mui-content">
			<div class="so" style="box-shadow: 0 0px 0px">
				<div class="so-l">
                    <a href="#" class=" mui-icon mui-icon-search  mui-pull-left"></a>
				</div>
				<div class="so-r">
					<input type="text" id="soso" style="color:#000" placeholder="搜索食物">
				</div>
		    </div>
            {% for food in history %}
                <div class="a-box" style="display:block;">
                    <div class="a-box-a">
                        <div  class="a-box-a-a">
                            <div class="a-box-a-a-l">
                                <img src="{{ url_for('static', filename='img/food/'+food.image) }}"/>
                            </div>
                            <div class="a-box-a-a-r">
                                <div class="a-box-a-a-r-t">
                                    <p>【{{ food.time_format }} 】</p>
                                    <p>&nbsp;来自{{ food.restaurant }}的食物</p>
                                    <div class="a-box-a-a-r-m">
                                        <a href="{{ url_for('food_detail', food=food.food_name) }}">{{ food.food_name }}</a>
                                    </div>
                                    <div class="a-box-a-a-r-b">
                                        <p> 评分：{{ food.score }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
		<!--底部导航-->
		<nav class="mui-bar mui-bar-tab">
			<a id="defaultTab" class="mui-tab-item mui-active" href="/history">
				<span class="mui-icon iconfont icon-canyin"></span>
				<span class="mui-tab-label">吃过的</span>
			</a>
			<a class="mui-tab-item" href="{{ url_for('suggestions', message='') }}">
				<span class="mui-icon iconfont icon-canting"></span>
				<span class="mui-tab-label">今天吃啥</span>
			</a>
			<a class="mui-tab-item" href="{{ url_for('group') }}">
				<span class="mui-icon iconfont icon-canyinxitong-"></span>
				<span class="mui-tab-label">组队吃</span>
			</a>
			<a class="mui-tab-item" href="{{ url_for('aboutme') }}">
				<span class="mui-icon iconfont icon-geren"></span>
				<span class="mui-tab-label">个人中心</span>
			</a>
		</nav>
		<script type="text/javascript">
			mui.init()
			mui('body').on('tap','a',function(){document.location.href=this.href;});
			mui('body').on('click','a',function(){document.location.href=this.href;});
		</script>
	</body>

</html>