<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>今天吃啥-历史记录</title>
		<script src="{{ url_for('static', filename='js/mui.min.js') }}"></script>
		<link href="{{ url_for('static', filename='css/mui.min.css') }}" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iconfont.css') }}" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav bgcolor">
			<a href="#" class=" mui-icon mui-icon-plus mui-pull-right" id="span"></a>
		    <h1 class="mui-title">吃过的食物</h1>
		</header>
		<div class="mui-content">

			<div class="so" style="box-shadow: 0 0px 0px">
				<div class="so-l">
					<!-- 需要修改 -->
                    <a href="#" class=" mui-icon mui-icon-search  mui-pull-left" id="span"></a>
				</div>
				<div class="so-r">
					<input type="text" id="soso" style="color:#000" placeholder="吃了啥？">
				</div>
		    </div>
		    <div class="a-box" style="display:block;">
		    	<div class="a-box-a">
		    		<div  class="a-box-a-a">
		    			<div class="a-box-a-a-l">
		    				<img src="img/moren_food.png"/>
		    			</div>
		    			<div class="a-box-a-a-r">
		    				<div class="a-box-a-a-r-t">
		    					<p>来自一餐的食物<p>
		    				    <span>一小时前</span>
		    				</div>  <!--上部-->
		    				<div class="a-box-a-a-r-m">
		    					<p>饺子</p>
		    				</div>    <!--中部-->
		    				<div class="a-box-a-a-r-b">
		    					<p><span class="mui-icon mui-icon-redo span-t">&nbsp&nbsp</span class="span-m">2</p>
		    					<p><span class="mui-icon mui-icon-redo span-t">&nbsp&nbsp</span class="span-m">2</p>
		    				</div> <!--下部-->
		    			</div>
		    		</div>
		    	</div>
		    </div>
		    <div class="a-box" style="display:block;">
		    	<div class="a-box-a">
		    		<div  class="a-box-a-a">
		    			<div class="a-box-a-a-l">
		    				<img src="img/food1.jpg"/>
		    			</div>
		    			<div class="a-box-a-a-r">
		    				<div class="a-box-a-a-r-t">
		    					<p>来自三餐的食物</p>
		    				     <span>两小时前</span>
		    				</div>  <!--上部-->
		    				<div class="a-box-a-a-r-m">
		    					<p>鸡肉套饭</p>
		    				</div>    <!--中部-->
		    				<div class="a-box-a-a-r-b">
		    					<p><span class="mui-icon mui-icon-redo span-t">&nbsp&nbsp</span class="span-m">2</p>
		    					<p><span class="mui-icon mui-icon-redo span-t">&nbsp&nbsp</span class="span-m">2</p>
		    				</div> <!--下部-->
		    			</div>
		    		</div>
		    	</div>
		    </div>
		    <div class="a-box" style="display:block;">
		    	<div class="a-box-a">
		    		<div  class="a-box-a-a mui-table-view-cell mui-slider-handle">
		    			<div class="mui-slider-right mui-disabled">
						<a class="mui-btn mui-btn-red">删除</a>
					</div>
		    			<div class="a-box-a-a-l">
		    				<img src="img/food2.jpg"/>
		    			</div>
		    			<div class="a-box-a-a-r">
		    				<div class="a-box-a-a-r-t">
		    					<p>来自三餐的食物</p>
		    				     <span>两小时前</span>
		    				</div>  <!--上部-->
		    				<div class="a-box-a-a-r-m">
		    					<p>煲仔饭</p>
		    				</div>    <!--中部-->
		    				<div class="a-box-a-a-r-b">
		    					<p><span class="mui-icon mui-icon-redo span-t">&nbsp&nbsp</span class="span-m">2</p>
		    					<p><span class="mui-icon mui-icon-redo span-t">&nbsp&nbsp</span class="span-m">2</p>
		    				</div> <!--下部-->
		    			</div>
		    		</div>
		    	</div>
		    </div>
		</div>
		<!--底部导航-->
		<nav class="mui-bar mui-bar-tab">
			<a id="defaultTab" class="mui-tab-item mui-active" href="/history">
				<span class="mui-icon iconfont icon-canyin"></span>
				<span class="mui-tab-label">吃过的</span>
			</a>
			<a class="mui-tab-item" href="{{ url_for('suggestions') }}">
				<span class="mui-icon iconfont icon-canting"></span>
				<span class="mui-tab-label">今天吃啥</span>
			</a>
			<a class="mui-tab-item" href="{{ url_for('group') }}">
				<span class="mui-icon iconfont icon-canyinxitong-"></span>
				<span class="mui-tab-label">组队吃</span>
			</a>
			<a class="mui-tab-item" href="{{ url_for('aboutme') }}">
				<span class="mui-icon iconfont icon-geren"></span>
				<span class="mui-tab-label">个人中心</span>
			</a>
		</nav>
		<script type="text/javascript">
			mui.init()
			mui('body').on('tap','a',function(){document.location.href=this.href;});
			mui('body').on('click','a',function(){document.location.href=this.href;});
		</script>
	</body>

</html>