<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>今天吃啥-今日推荐</title>
		<script src="{{ url_for('static', filename='js/mui.min.js') }}"></script>
		<link href="{{ url_for('static', filename='css/mui.min.css') }}" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iconfont.css') }}" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav bgcolor">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">今日推荐</h1>
		</header>
		<div class="mui-content">

		</div>
		<!--底部导航-->
		<nav class="mui-bar mui-bar-tab">
			<a id="defaultTab" class="mui-tab-item mui-active" href="/history">
				<span class="mui-icon iconfont icon-canyin"></span>
				<span class="mui-tab-label">吃过的</span>
			</a>
			<a class="mui-tab-item" href="{{ url_for('suggestions') }}">
				<span class="mui-icon iconfont icon-canting"></span>
				<span class="mui-tab-label">今天吃啥</span>
			</a>
			<a class="mui-tab-item" href="{{ url_for('group') }}">
				<span class="mui-icon iconfont icon-canyinxitong-"></span>
				<span class="mui-tab-label">组队吃</span>
			</a>
			<a class="mui-tab-item" href="{{ url_for('aboutme') }}">
				<span class="mui-icon iconfont icon-geren"></span>
				<span class="mui-tab-label">个人中心</span>
			</a>
		</nav>
		<script type="text/javascript">
			mui.init()
			mui('body').on('tap','a',function(){document.location.href=this.href;});
			mui('body').on('click','a',function(){document.location.href=this.href;});
		</script>
	</body>

</html>