<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>今天吃啥-个人中心</title>
		<script src="{{ url_for('static', filename='js/mui.min.js') }}"></script>
		<link href="{{ url_for('static', filename='css/mui.min.css') }}" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iconfont.css') }}" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav bgcolor">
			<a href="#" id="set" class="mui-icon mui-icon-gear mui-pull-right"></a>
		    <h1 class="mui-title">个人中心</h1>
		</header>
		<div class="mui-content">
		    <div class="d-box">
		    	<div class="logo-img"  style="background:#fff;">
		    		<img src="{{ url_for('static', filename='img/logo.png') }}/>
		    		<h4>EATqueen</h4>
		    		<p>Happy every day!</p>
		    	</div>
			</div>
		    <div class="d-box-a">
		    	<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">吃过的</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">想吃的</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">好友</a>
					</li>
				</ul>
			</div>
		</div>
        </div>
		<!--底部导航-->
		<nav class="mui-bar mui-bar-tab">
			<a id="defaultTab" class="mui-tab-item" href="/history">
				<span class="mui-icon iconfont icon-canyin"></span>
				<span class="mui-tab-label">吃过的</span>
			</a>
			<a class="mui-tab-item" href="{{ url_for('suggestions') }}">
				<span class="mui-icon iconfont icon-canting"></span>
				<span class="mui-tab-label">今天吃啥</span>
			</a>
			<a class="mui-tab-item" href="{{ url_for('group') }}">
				<span class="mui-icon iconfont icon-canyinxitong-"></span>
				<span class="mui-tab-label">组队吃</span>
			</a>
			<a class="mui-tab-item  mui-active" href="{{ url_for('aboutme') }}">
				<span class="mui-icon iconfont icon-geren"></span>
				<span class="mui-tab-label mui-active">个人中心</span>
			</a>
		</nav>
		<script type="text/javascript">
			mui.init()
			mui('body').on('tap','a',function(){document.location.href=this.href;});
			mui('body').on('click','a',function(){document.location.href=this.href;});
		</script>
	</body>

</html>