<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>今天吃啥-登录</title>
		<script src="{{ url_for('static', filename='js/mui.min.js') }}"></script>
		<link href="{{ url_for('static', filename='css/mui.min.css') }}" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>

	</head>

	<body>
		<header class="mui-bar mui-bar-nav bgcolor">
		    <h1 class="mui-title">今天吃啥</h1>
		</header>
		<div class="mui-content">
		    <div class="login-a">
		    	<img src="{{ url_for('static', filename='img/logo.png') }}"/>
		    </div>
            <form class="mui-input-group" name="login_form" method="POST">
                <div class="login-b">
                    <div class="login-b-b">
                        <div class="login-b-b-l">用户名</div>
                        <div class="login-b-b-r">
                            <input type="text" name="username" placeholder="请输入您的用户名"  />
                        </div>
                    </div>
                    <div class="login-b-b">
                        <div class="login-b-b-l">密码</div>
                        <div class="login-b-b-r">
                            <input type="password" name="password" placeholder="请输入您的密码"  />
                        </div>
                    </div>
                </div>
                <div class="btn">
                    <button type="submit">登  录</button>
                    <p><a href="{{ url_for('register') }}" class="mui-pull-right">注册</a></p>
                </div>
            </form>
            <a style="color:#cd5c5c">{{ message }}</a>
            <!--
		    <div class="sdk-a" style="padding: 10px 0px;">
		    	<a href="#"  class="mui-icon mui-icon-qq"></a>
		    	<a href="#"  class="mui-icon mui-icon-weixin"></a> 
		    </div>
		    -->
		</div>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>